.projects-hero {
  padding-block: 100px;
}

.project-title {
  font-size: 55px;
  text-align: center;
  margin-block: 100px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 55px;
  transition: 1s;
}
.project-item {
  transition: 0.3s ease;
}
.project-item:hover {
  transform: scale(1.07);
}
.project-item {
}

.project-img {
}

.project-desc {
  font-size: 22px;
  font-weight: 700;
}
